* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(
		0deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	height: 100vh;
	overflow: hidden;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(252, 176, 69, 0.2);
}

.navbar .logo {
	background: url('images/logo.svg') no-repeat;
	width: 100px;
	/* height: 100px; */
	color: #fff;
	padding: 15px;
	margin: 15px 15px;
}

.navbar .contact {
	color: #fff;
	display: flex;
	padding: 10px;
	gap: 15px;
	font-size: 0.8rem;
	margin-top: 8px;
}

.flex-container {
	display: flex;
	/* background-color: #ccc; */
	/* flex-direction: row-reverse; */
	container-type: inline-size;
	max-width: 800px;
	margin: 200px auto;
	gap: 10px;
	padding: 20px;
}

.text-box {
	/* flex: 1; */
	width: 50cqw;
	padding-right: 20px;
}

.form {
	/* flex: 1; */
	width: 50cqw;
	padding-left: 10px;
}

.form input,
.form .btn {
	width: 90%;
}

.form input {
	height: 25px;
	margin-top: 6px;
	opacity: 0.3;
	border: none;
	text-indent: 10px;
	color: #000;
}

#message {
	height: 75px;
	text-align: top;
	resize: none;
}

.form p {
	/* text-indent: 2px; */
	color: #fff;
	font-size: 0.8rem;
	line-height: 0.7rem;
	font-weight: 400;
	margin-top: 12px;
}

.form .btn {
	background: coral;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	font-size: 0.7rem;
	padding: 5px;
	color: #fff;
	cursor: pointer;
}

.form .btn:hover {
	opacity: 0.8;
}

.text-box h1 {
	font-size: 1.8rem;
	line-height: 2rem;
	color: #fff;
	font-weight: 500;
}

.text-box p {
	color: #fff;
	margin-top: 15px;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

@media (max-width: 700px) {
	.navbar {
		flex-direction: column;
		background-color: transparent;
	}
	.navbar .contact {
		flex-direction: column;
		gap: 0px;
		margin-top: 2px;
		/* background-color: aqua; */
		text-align: center;
		line-height: 1.4rem;
		padding: 0px;
		margin-top: -8px;
	}
	.navbar .logo {
		margin: 10px 0px 12px 15px;
	}
	.flex-container {
		/* /container-type: size; */
		flex-direction: column-reverse;
		max-width: 500px;
		margin: 60px auto;
		/* gap: 10px; */
		/* padding: 20px; */
		/* background-color: #ccc; */
		justify-content: center;
		align-items: center;
	}
	.text-box,
	.form {
		width: 75cqw;
		text-align: center;
		padding: 0;
		justify-content: center;
		align-items: center;
	}
	.text-box h1 {
		font-size: 1.5rem;
		text-align: center;
		margin-left: -15px;
		/* background: #000; */
		margin: 0 auto;
	}
	.text-box p {
		display: none;
	}
	.form .btn {
		margin-left: 18px;
	}
}
